.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
    text-align: center;
}

.mywork-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}

.mywork-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.mywork-container img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.mywork-container img:hover {
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    transition: 0.3s;
}

.mywork-container p {
    max-width: 550px;
    color: white;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
}

.mywork-showmore {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    margin-bottom: 80px;
    cursor: pointer;
    transition: 0.3s;
}

.mywork-showmore:hover {
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    transition: 0.3s;
    gap: 30px;
}

@media (max-width: 1024px) {
    .mywork {
        margin: 80px 40px;
    }

    .mywork-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .mywork-title h1 {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .mywork {
        gap: 50px;
        margin: 50px 20px;
        align-items: center;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-title img {
        width: 130px;
        margin-right: -20px;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .mywork-container img {
        width: 100%;
        height: auto;
    }

    .mywork-showmore {
        margin-top: 100px;
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}
