.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    text-align: center;
}

.hero img{
    margin-top: 150px;
    border-radius: 50%;
    width: 200px; /* Add a default width for better control */
}
.hero h1{
    font-size: 90px;
    width: 70%;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #da7c25 10%, #b923e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* This ensures the text color is transparent on all browsers */
}

.hero p{
    width: 50%;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(270deg, #da7c25 10%, #b923e1 100%);
    cursor: pointer;
}
.hero-connect:hover{
    transform: scale(1.05); /* Corrected hover effect */
    border: 2px solid white;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.hero-resume:hover{
    border-color: #b415ff;
}

@media(max-width: 768px){
    .hero img{
        margin-top: 120px;
        width: 150px; /* Adjust the width for smaller screens */
    }

    .hero h1{
        margin-top: 20px;
        width: 90%;
        font-size: 50px;
    }

    .hero p{
        width: 80%; /* Adjust the width for better readability */
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action{
        flex-direction: column; /* Stack buttons vertically on smaller screens */
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect, .hero-resume{
        padding: 15px 30px; /* Adjust padding for smaller screens */
        border-radius: 40px;
    }
}
