.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
    text-align: center;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 200px;
    height: auto;
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-left {
    display: flex;
}

.about-left img {
    width: 400px;   
    height: auto; 
    border-radius: 30px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-para {
    text-align: justify;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: transform 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.96%, #b923e1);
    transition: transform 0.3s;
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-weight: 600;
    font-size: 60px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

@media(max-width: 768px) {
    .about {
        gap: 40px;
        margin: 50px 20px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-title img {
        width: 100px;
        right: -10px;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-left {
        display: none;
    }

    .about-right {
        gap: 20px;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-achievements {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .about-achievement h1 {
        font-size: 34px;
    }

    .about-achievement p {
        font-size: 16px;
        text-align: center;
    }
}
