.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}


.contact-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: white;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background:#c8b3ce;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background:#c8b3ce;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}



@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: center;
    }

    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .contact-title img{
        width: 130px;
        margin-right: -20px;

    }

    .contact-detail{
        flex-direction: column;

    }

    .contact-left{
        font-size: 54px;
    }

    .contact-left p{
        font-size: 18px;
    }

    .contact-detail {
        gap: 20px;
    }

    .contact-detail img{
        width: 25px;
    }

    .contact-right label{
        font-size: 20px;
    }

    .contact-right input {
        width: 100%;
        font-size: 20px;
    };

    .contact-right textarea {
        width: 95%;
        font-size: 20px;
    };

    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}