.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar .logo{
    width: 150px;
    height: auto;
    border-radius: 100px;
   
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.nav-menu li img
{
    display: flex;
    margin: auto;
}
.nav-connect{
    cursor: pointer;
    padding: 20px 4px;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.anchore-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }

    .nav-connect{
        display: none;

    }

    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;

    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li{
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}