.footer{
margin: 50px 170px;
display: flex;
flex-direction: column;
gap: 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    font-size: 20px;
    max-width: 400px;

}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background-color:#c8b3ce;
    padding-right: 80px;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right{
display: flex;
gap: 20px;
margin-bottom: 50px;
}


.footer-subscribe{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    padding: 20px 60px;
    
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .footer{
        margin: 50px 70px;

    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}